certbot
certbot-nginx

# Additional dependencies required by certbot:
#
# Collecting importlib_metadata>=4.6 (from certbot==4.0.0->-r /opt/certbot/requirements.txt (line 13))
# ERROR: In --require-hashes mode, all requirements must have their versions pinned with ==. These do not:
#     importlib_metadata>=4.6 from https://files.pythonhosted.org/packages/79/9d/0fb148dc4d6fa4a7dd1d8378168d9b4cd8d4560a6fbf6f0121c5fc34eb68/importlib_metadata-8.6.1-py3-none-any.whl (from certbot==4.0.0->-r /opt/certbot/requirements.txt (line 13))
#
importlib-metadata
