# docker run --rm -it -w / -v `pwd`/supervisor-requirements.in:/supervisor-requirements.in:ro -v `pwd`/supervisor-requirements.txt:/supervisor-requirements.txt python:3.14 sh -c 'pip install pip-tools; pip-compile --generate-hashes --strip-extras supervisor-requirements.in > supervisor-requirements.txt 2>&1'

supervisor
